/* DietForm.css */

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-grid label, .restricciones-titulo{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #444;
}

input[type="number"],
select {
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  margin-top: 6px;
  font-weight: normal;
}

.full-width {
  grid-column: span 2;
}

.submit-btn {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  background: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #218838;
}

.response-box {
  margin-top: 30px;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  white-space: pre-wrap;
  color: #333;
}

.restricciones-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.checkbox-inline {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
